extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style
    include ../../sass/inline/sitemap.css

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "О нас — about.html",
        src: "about.html"
      },
      {
        name: "Карьера — career.html",
        src: "career.html"
      },
      {
        name: "Карьера (нет вакансий) — career-empty.html",
        src: "career-empty.html"
      },
      {
        name: "Шаблон вакансии — vacancy.html",
        src: "vacancy.html"
      },
      {
        name: "Шаблон вакансии (вариант на 960px) — vacancy-2.html",
        src: "vacancy-2.html"
      },
      {
        name: "Услуги и технологии — services-tech.html",
        src: "services-tech.html"
      },
      {
        name: "Карточка услуги (Внедрение CRM) — introduction-crm.html",
        src: "introduction-crm.html"
      },
      {
        name: "Проекты — our-projects.html",
        src: "our-projects.html"
      },
      {
        name: "Наши партнеры — our-partners.html",
        src: "our-partners.html"
      },
      {
        name: "Страница 404 — error-404.html",
        src: "error-404.html"
      },
      {
        name: "Модули — modules.html",
        src: "modules.html"
      },
      {
        name: "Контакты — contacts.html",
        src: "contacts.html"
      },
      {
        name: "Документы — documents.html",
        src: "documents.html"
      },
      {
        name: "Реквизиты — properties.html",
        src: "properties.html"
      },
    ]

  main
    .sitemap
      .container
        img(src="./img/sprite/logo.svg", width="300", alt="Логотип проекта")
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
