mixin project-stages()
  section.project-stages&attributes(attributes)
    .container
      h2=projectStagesTitle
      .project-stages__main
        .project-stages__controls
          each position, index in projectStagesContent
            if index === 0
              button.project-stages__control.is-active(type='button', data-stage= index)
                span=`0${index + 1}`
                | #{position.title}
            else
              button.project-stages__control(type='button', data-stage= index)
                span=`0${index + 1}`
                | #{position.title}

        .project-stages__content.swiper.project-stages__content--mod
          .swiper-wrapper
            each item, index in projectStagesContent
              +stages-item(item).swiper-slide
