mixin form()
  .form(data-form-validate, data-callback="base")&attributes(attributes)
    form(action=form.sendMessageAction, method="post", enctype="multipart/form-data")
      .form__fields
        +custom-input({
          inputPlaceholder: placeholdersForm.name,
          inputName: "name",
          inputId: "name",
          inputType: "text",
        })(data-required, data-validate-type="text")
        +custom-input({
          inputPlaceholder: placeholdersForm.telOrMail,
          inputName: "contact",
          inputId: "contact",
          inputType: "text",
        })(data-required, data-validate-type="text")
        +custom-textarea({
          inputPlaceholder: placeholdersForm.textArea,
          inputName: "message",
          inputId: "message",
        })(data-required, data-validate-type="text")
        .input-upload.input-upload--file-drop(data-upload="file-drop", tabindex=0, data-validate-type="file",  data-max-size="10485760")
          .input-upload__drop-zone(data-drop-zone)
            .input-upload__drop-zone-text
                +icon("link", 32, 32)
                span=sendMessageInputFile
                span=sendMessageInputFileMobile
          label
            input(type="file", name="upload-file", tabindex=-1)
      p
        =`${sendMessagePolicy.text}`
        =" "
        a(href=sendMessagePolicy.href)=`${sendMessagePolicy.textHref}`
      +btn({
        icon: "arrow",
        type: "submit",
        text: sendMessageButtonText,
      }).btn--white


