mixin partners-page-item(item)
  .partners-page-item
    .partners-page-item__logo
      //-+icon(item.logo[0], item.logo[1], item.logo[2])
      img(src=`img/svg/${item.logo[0]}.svg`, width=item.logo[1], height=item.logo[2])
    .partners-page-item__content
      h2=item.title
      p=item.text
      +btn({
        href: item.href,
        icon: "arrow",
        text: item.textButton
      }).btn--rotation
