mixin partners-item(isClickable, item)
  - const tag = isClickable ? "a" : "div"
  - const addClass = item.status ? `partners-item ${item.status}` : "partners-item";

  #{tag}(href=item.href class=addClass)&attributes(attributes)
    if item.name
      .partners-item__name
        span=item.name
    if item.logo
      .partners-item__icon-logo
        img(src=`img/svg/${item.logo[0]}.svg`, width=item.logo[1], height=item.logo[2], alt=item.name, loading="lazy")
    if item.arrow
      .partners-item__icon-arrow
        span.icon
          +icon("arrow", 12, 10)
