mixin services-item(item)
  - const addClass = item.special ? "services-item services-item--special" : "services-item";
    a(href=item.href class=addClass)
      h3=item.title
      p=item.text
      .btn
        span.icon
          +icon("arrow", 12, 10)
        span.btn__text=item.buttonText
