mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__content
        .footer__contacts-wrapper
          +logo()
          .footer__contacts
            a(href=footerContacts[0].href)=footerContacts[0].text
            p=footerContacts[1].text
            a(href=footerContacts[2].href)=footerContacts[2].text
        .footer__navigation-wrapper
          ul.footer__main-navigation
            each link in footerMainNavigation
              li
                a(href=link.href)=link.text
          ul.footer__add-navigation
            each link in footerAddNavigation
              li
                a(href=link.href)=link.text
        +contacts-action(footerAction)
      .footer__info
        p.footer__info-designer
          a(href=footerInfo[0].href)
            +icon(footerInfo[0].icon, 125, 17)
            span.visually-hidden=footerInfo[0].text
        p.footer__offer
          a(href=footerInfo[1].href)=footerInfo[1].text
        p.footer__agreement
          a(href=footerInfo[2].href)=footerInfo[2].text
